<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>

<body>
    <center>
        <div>
            <% if(status) { %>
                <h1>پرداخت موفق</h1>
                <br><br><br><br>
                <h2>شماره سفارش: <%= order_id %>
                </h2>
                <h2>مبلغ: <% amount.toLocaleString() %> تومان</h2>
                <h2>مبلغ بر حسب ترون: <%= trx_amount %>
                </h2>
                <h2>آدرس ولت</h2>
                <h2>
                    <%= wallet %>
                </h2>
                <% } else { %>
                    <h1>پرداخت ناموفق</h1>
                    <%}%>
        </div>
    </center>
</body>

</html>